typing-extensions
numpy
pandas
scipy
scikit-learn
plotly
matplotlib
pycountry
seaborn
statsmodels
click
spacy
streamlit
annotated_text
argparse
openai
summarizer
contextualized-topic-models
gensim
umap-learn
tqdm
pyLDAvis
joblib
PyPDF2
